/*
Copyright 2020 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it.
*/
//_variables.scss

//== Colors
//
//## Gray and brand colors for use across theme.

$black:                  #141414;
$gray:                   #f6f6f6;
$gray-light:             #EBEBEB;
$gray-lighter:           #F7F7F7;
$white:                  #FFFFFF;
$yellow:                 #FFEA00;
$blue:                   #00539f;
$cta-blue:               #00569e;
$red:                    #c30631;
$lime:                   #DBFF00;
$orange:                 #ff6200;
//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-ing:  "ING", sans-serif;
$font-family-sans-serif:  "Poppins", "Aktiv Grotesk Medium", sans-serif;
$font-family-serif:       "Asar",Georgia, "Times New Roman", Times, serif;
$font-family-base:        system-ui;

$font-size-xsmall:		    12px;
$font-size-small:         14px;
$font-size-medium:		    16px;
$font-size-18:            18px;
$font-size-base:          1rem;
$font-size-large:         24px;
$font-size-xlarge:        48px;

$font-size-h1:            48px;
$font-size-h2:            36px; 
$font-size-h3:            28px; 
$font-size-h4:            16px; 
$font-size-h5:            14px;
$font-size-h6:            10px; 

$font-weight-normal:     normal;
$font-weight-bold:       600;

$line-height-base:        1.1;
$line-height-computed:    floor(($font-size-base * $line-height-base));

// Functional Colors
$brand-primary:             $orange;
$body-bg:                   $gray;
$text-color:                $black;
$text-color-inverse:        $gray-light;
$link-color:                $blue;
$button-color:              $white;
//Layout
$max-width: 1280px;

// Spacing
$gutter-padding: 12px; 

// Breakpoints
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;

$tablet-padding: 40px;


:root {
--lfds-primitives-color-transparent-100-1-75: rgba(0, 45, 81, 0.75);
--lfds-primitives-color-blue-100-31: rgba(0, 90, 160, 1);
--lfds-primitives-color-blue-100-24: rgba(0, 66, 122, 1);
--lfds-primitives-color-red-95-46: rgba(227, 6, 19, 1);
--lfds-primitives-color-red-83-37: rgba(173, 16, 21, 1);
--lfds-primitives-color-neutral-0-13: rgba(34, 34, 34, 1);
--lfds-primitives-color-neutral-0-95: rgba(243, 243, 243, 1);
--lfds-primitives-color-neutral-0-100: rgba(255, 255, 255, 1);
--lfds-primitives-color-blue-70-68: rgba(118, 187, 231, 1);
--lfds-primitives-color-blue-70-84: rgba(186, 218, 243, 1);
--lfds-primitives-color-blue-45-96: rgba(239, 244, 249, 1);
--lfds-primitives-color-red-88-91: rgba(252, 210, 211, 1);
--lfds-primitives-color-neutral-2-43: rgba(107, 112, 112, 1);
--lfds-primitives-color-neutral-2-56: rgba(139, 139, 139, 1);
--lfds-primitives-color-neutral-0-85: rgba(217, 217, 217, 1);
--lfds-primitives-size-3x: 1.5rem;
--lfds-primitives-size-4x: 2rem;
--lfds-primitives-size-5x: 2.5rem;
--lfds-primitives-size-6x: 3rem;
--lfds-primitives-size-7x: 3.5rem;
--lfds-primitives-size-9x: 4.5rem;
--lfds-primitives-size-0-5x: 0.25rem;
--lfds-primitives-size-1x: 0.5rem;
--lfds-primitives-size-1-5x: 0.75rem;
--lfds-primitives-size-2x: 1rem;
--lfds-primitives-size-0x: 0px;
--lfds-primitives-color-transparent-0-100-0-light: rgba(255, 255, 255, 0);
--lfds-primitives-color-blue-53-93: rgba(229, 239, 247, 1);
--lfds-primitives-color-green-100-95: rgba(229, 255, 240, 1);
--lfds-primitives-color-yellow-100-92: rgba(255, 255, 214, 1);
--lfds-primitives-color-green-55-24: rgba(27, 94, 32, 1);
--lfds-primitives-color-blue-67-50: rgba(42, 127, 212, 1);
--lfds-primitives-color-blue-54-47: rgba(56, 159, 185, 1);
--lfds-primitives-color-green-28-62: rgba(141, 186, 132, 1);
--lfds-primitives-color-green-57-47: rgba(184, 190, 52, 1);
--lfds-primitives-color-yellow-98-54: rgba(253, 181, 20, 1);
--lfds-primitives-color-yellow-85-53: rgba(237, 119, 33, 1);
--lfds-primitives-color-red-81-45: rgba(206, 22, 29, 1);
--lfds-primitives-color-blue-100-16: rgba(0, 47, 84, 1);
--lfds-primitives-color-blue-47-51: rgba(70, 138, 189, 1);
--lfds-primitives-color-blue-54-65: rgba(116, 179, 214, 1);
--lfds-primitives-color-red-85-27: rgba(126, 10, 14, 1);
--lfds-primitives-color-red-69-61: rgba(224, 86, 86, 1);
--lfds-primitives-color-red-68-74: rgba(234, 143, 147, 1);
--lfds-primitives-color-color-candidates-100-1: rgba(0, 3, 5, 1);
--lfds-primitives-color-color-candidates-100-8: rgba(0, 22, 41, 1);
--lfds-primitives-color-transparent-100-6-75: rgba(0, 47, 84, 0.75);
--lfds-primitives-color-color-candidates-45-98: rgba(247, 250, 252, 1);
--lfds-primitives-color-green-53-47: rgba(57, 183, 107, 1);
--lfds-primitives-color-color-candidates-100-18: rgba(0, 49, 92, 1);
--lfds-primitives-color-color-candidates-86-16: rgba(122, 99, 0, 1);
--lfds-primitives-color-color-candidates-100-10: rgba(0, 27, 51, 1);
--lfds-primitives-color-transparent-0-100-0-dark: rgba(0, 22, 41, 0);
--lfds-primitives-color-color-candidates-100-23: rgba(173, 140, 0, 1);
--lfds-bold: 700;
--lfds-semibold: 600;
--lfds-lf: LF Rubrik;
--lfds-italic: Italic;
--lfds-regular: 400;
--lfds-medium: 500;
--lfds-ibm: IBM Plex Sans;
--lfds-primitives-typography-weight-bold: 700;
--lfds-primitives-typography-weight-semibold: 600;
--lfds-primitives-typography-font-family-lf: LF Rubrik;
--lfds-primitives-typography-weight-italic: Italic;
--lfds-primitives-typography-weight-regular: 400;
--lfds-primitives-typography-weight-medium: 500;
--lfds-primitives-typography-font-family-ibm: IBM Plex Sans;
--lfds-primitives-typography-font-family-ibm-mono: IBM Plex Mono;
--lfds-primitives-typography-style-regular: 400;
--lfds-primitives-typography-style-italic: Italic;
--lfds-typography-font-family-ibm: IBM Plex Sans;
--lfds-typography-font-family-lf: LF Rubrik;
--lfds-typography-weight-regular: 400;
--lfds-typography-weight-medium: 500;
--lfds-typography-weight-semibold: 600;
--lfds-typography-weight-bold: 700;
--lfds-typography-weight-italic: Italic;
--lfds-semantic-background-web-button-tertiary: var(--lfds-base-brand-primary-liquorice);
--lfds-semantic-background-web-button-tertiary-pressed: var(--lfds-base-brand-primary-liquorice);
--lfds-semantic-background-web-button-tertiary-focus: var(--lfds-base-brand-primary-liquorice);
--lfds-semantic-background-web-button-tertiary-hover: var(--lfds-base-brand-primary-liquorice);
--lfds-base-brand-primary-lf-blue: var(--lfds-primitives-color-blue-100-31);
--lfds-base-brand-primary-navy: var(--lfds-primitives-color-blue-100-24);
--lfds-base-brand-primary-lf-red: var(--lfds-primitives-color-red-95-46);
--lfds-base-brand-primary-wine: var(--lfds-primitives-color-red-83-37);
--lfds-base-brand-primary-liquorice: var(--lfds-primitives-color-neutral-0-13);
--lfds-base-brand-primary-garlic: var(--lfds-primitives-color-neutral-0-95);
--lfds-base-brand-primary-snow: var(--lfds-primitives-color-neutral-0-100);
--lfds-base-brand-secondary-stone: var(--lfds-primitives-color-neutral-2-43);
--lfds-base-brand-secondary-aluminum: var(--lfds-primitives-color-neutral-2-56);
--lfds-base-brand-secondary-smoke: var(--lfds-primitives-color-neutral-0-85);
--lfds-base-brand-secondary-sky: var(--lfds-primitives-color-blue-70-68);
--lfds-base-brand-secondary-baby: var(--lfds-primitives-color-blue-70-84);
--lfds-base-brand-secondary-cloud: var(--lfds-primitives-color-blue-45-96);
--lfds-base-brand-secondary-piggy: var(--lfds-primitives-color-red-88-91);
--lfds-semantic-text-primary: var(--lfds-base-brand-primary-liquorice);
--lfds-semantic-text-brand-primary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-secondary: var(--lfds-base-brand-primary-snow);
--lfds-semantic-background-primary: var(--lfds-base-brand-primary-garlic);
--lfds-semantic-border-secondary: var(--lfds-base-brand-secondary-smoke);
--lfds-semantic-background-web-button-primary: var(--lfds-base-brand-primary-wine);
--lfds-semantic-background-web-button-secondary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-text-secondary: var(--lfds-base-brand-secondary-stone);
--lfds-semantic-icon-primary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-icon-secondary: var(--lfds-base-brand-secondary-aluminum);
--lfds-base-state-error: var(--lfds-base-brand-primary-lf-red);
--lfds-semantic-border-tertiary: var(--lfds-base-brand-secondary-aluminum);
--lfds-semantic-background-disabled: var(--lfds-base-brand-primary-garlic);
--lfds-semantic-border-disabled: var(--lfds-base-brand-secondary-stone);
--lfds-semantic-text-error: var(--lfds-base-state-error);
--lfds-semantic-background-warning: var(--lfds-primitives-color-red-88-91);
--lfds-semantic-background-info: var(--lfds-primitives-color-blue-70-84);
--lfds-semantic-background-success: var(--lfds-primitives-color-green-100-95);
--lfds-semantic-background-error: var(--lfds-primitives-color-yellow-100-92);
--lfds-semantic-risk-risk-default: var(--lfds-primitives-color-neutral-2-43);
--lfds-semantic-risk-risk-01: var(--lfds-primitives-color-blue-67-50);
--lfds-semantic-risk-risk-02: var(--lfds-primitives-color-blue-54-65);
--lfds-semantic-risk-risk-03: var(--lfds-primitives-color-green-28-62);
--lfds-semantic-risk-risk-04: var(--lfds-primitives-color-green-57-47);
--lfds-semantic-risk-risk-06: var(--lfds-primitives-color-yellow-85-53);
--lfds-semantic-risk-risk-05: var(--lfds-primitives-color-yellow-98-54);
--lfds-semantic-risk-risk-07: var(--lfds-primitives-color-red-81-45);
--lfds-semantic-legends-blue-01: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-legends-blue-02: var(--lfds-primitives-color-blue-100-24);
--lfds-semantic-legends-blue-03: var(--lfds-primitives-color-blue-100-31);
--lfds-semantic-legends-blue-04: var(--lfds-primitives-color-blue-47-51);
--lfds-semantic-legends-blue-05: var(--lfds-primitives-color-blue-54-65);
--lfds-semantic-legends-blue-06: var(--lfds-primitives-color-blue-70-84);
--lfds-semantic-legends-red-01: var(--lfds-primitives-color-red-85-27);
--lfds-semantic-legends-red-02: var(--lfds-primitives-color-red-83-37);
--lfds-semantic-legends-red-03: var(--lfds-primitives-color-red-95-46);
--lfds-semantic-legends-red-04: var(--lfds-primitives-color-red-69-61);
--lfds-semantic-legends-red-05: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-legends-red-06: var(--lfds-primitives-color-red-88-91);
--lfds-semantic-text-on-button-secondary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-border-primary: var(--lfds-base-brand-primary-garlic);
--lfds-semantic-border-focus: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-web-button-primary-pressed: var(--lfds-base-brand-primary-wine);
--lfds-semantic-background-web-button-primary-focus: var(--lfds-base-brand-primary-wine);
--lfds-semantic-background-web-button-primary-hover: var(--lfds-base-brand-primary-wine);
--lfds-semantic-background-web-button-secondary-pressed: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-web-button-secondary-focus: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-web-button-secondary-hover: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-transparent-primary: var(--lfds-primitives-color-transparent-0-100-0-light);
--lfds-semantic-icon-error: var(--lfds-base-state-error);
--lfds-semantic-border-error: var(--lfds-base-state-error);
--lfds-semantic-text-on-button-secondary-pressed: var(--lfds-base-brand-primary-navy);
--lfds-semantic-background-button-primary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-button-primary-pressed: var(--lfds-base-brand-primary-navy);
--lfds-semantic-icon-inverted: var(--lfds-base-brand-primary-snow);
--lfds-semantic-text-disabled: var(--lfds-base-brand-secondary-stone);
--lfds-semantic-background-button-tertiary: var(--lfds-base-brand-secondary-cloud);
--lfds-semantic-background-button-tertiary-pressed: var(--lfds-primitives-color-blue-53-93);
--lfds-base-state-success: var(--lfds-primitives-color-green-28-62);
--lfds-semantic-temporary-placeholder: var(--lfds-base-brand-secondary-smoke);
--lfds-semantic-border-on-button-secondary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-border-on-button-secondary-pressed: var(--lfds-base-brand-primary-navy);
--lfds-semantic-background-secondary-pressed: var(--lfds-base-brand-secondary-cloud);
--lfds-semantic-text-link: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-text-link-pressed: var(--lfds-base-brand-primary-navy);
--lfds-semantic-background-button-secondary: var(--lfds-primitives-color-transparent-0-100-0-light);
--lfds-semantic-background-button-secondary-pressed: var(--lfds-primitives-color-blue-45-96);
--lfds-semantic-text-on-button-tertiary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-text-on-button-tertiary-pressed: var(--lfds-base-brand-primary-navy);
--lfds-semantic-text-on-button-primary: var(--lfds-semantic-text-inverted);
--lfds-semantic-text-selected: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-border-web-on-button-tertiary: var(--lfds-base-brand-primary-navy);
--lfds-semantic-border-web-on-button-tertiary-pressed: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-border-web-on-button-secondary: var(--lfds-base-brand-primary-navy);
--lfds-semantic-border-web-on-button-secondary-pressed: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-text-web-on-button-secondary-pressed: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-text-web-on-button-tertiary: var(--lfds-base-brand-primary-navy);
--lfds-semantic-text-web-on-button-tertiary-pressed: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-text-web-on-button-secondary: var(--lfds-base-brand-primary-navy);
--lfds-semantic-background-selected: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-hover: var(--lfds-base-brand-secondary-cloud);
--lfds-semantic-border-selected: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-icon-primary-pressed: var(--lfds-base-brand-primary-navy);
--lfds-semantic-icon-selected: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-transparent-secondary: var(--lfds-primitives-color-transparent-100-6-75);
--lfds-semantic-background-notification-primary: var(--lfds-base-brand-primary-lf-red);
--lfds-semantic-background-notification-secondary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-text-inverted: var(--lfds-base-brand-primary-snow);
--lfds-semantic-background-notification-tertiary: var(--lfds-base-brand-secondary-stone);
--lfds-semantic-border-web-on-button-secondary-hover: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-border-web-on-button-tertiary-hover: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-text-web-on-button-secondary-hover: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-text-web-on-button-tertiary-hover: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-background-tertiary: var(--lfds-base-brand-secondary-smoke);
--lfds-semantic-icon-on-button-primary: var(--lfds-semantic-icon-inverted);
--lfds-semantic-icon-on-info: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-icon-on-button-secondary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-icon-on-error: var(--lfds-primitives-color-neutral-0-13);
--lfds-semantic-icon-on-warning: var(--lfds-base-brand-primary-wine);
--lfds-semantic-icon-on-success: var(--lfds-primitives-color-green-55-24);
--lfds-semantic-icon-web-on-button-primary: var(--lfds-semantic-icon-inverted);
--lfds-semantic-icon-web-on-button-secondary: var(--lfds-base-brand-primary-navy);
--lfds-semantic-icon-tertiary: var(--lfds-base-brand-primary-lf-red);
--lfds-semantic-illustration-primary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-illustration-secondary: var(--lfds-base-brand-primary-lf-red);
--lfds-semantic-background-skeleton-primary: var(--lfds-base-brand-secondary-cloud);
--lfds-semantic-background-skeleton-secondary: var(--lfds-primitives-color-color-candidates-45-98);
--lfds-semantic-animation-primary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-animation-secondary: var(--lfds-base-brand-primary-lf-red);
--lfds-semantic-background-button-quaternary: var(--lfds-base-brand-primary-wine);
--lfds-semantic-background-button-quaternary-pressed: var(--lfds-primitives-color-red-85-27);
--lfds-semantic-text-on-button-quaternary: var(--lfds-semantic-text-inverted);
--lfds-semantic-icon-disabled: var(--lfds-base-brand-secondary-smoke);
--lfds-semantic-text-brand-secondary: var(--lfds-base-brand-primary-lf-red);
--lfds-semantic-legends-neutral-01: var(--lfds-primitives-color-neutral-2-43);
--lfds-semantic-legends-neutral-02: var(--lfds-primitives-color-neutral-2-56);
--lfds-semantic-legends-neutral-03: var(--lfds-primitives-color-neutral-0-85);
--lfds-semantic-legends-green-01: var(--lfds-primitives-color-green-53-47);
--lfds-semantic-background-active: var(--lfds-base-brand-secondary-cloud);
--lfds-semantic-border-brand-primary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-border-brand-secondary: var(--lfds-base-brand-primary-lf-red);
--lfds-semantic-icon-on-button-tertiary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-text-on-img: var(--lfds-base-brand-primary-snow);
--lfds-semantic-text-on-risk: var(--lfds-base-brand-primary-snow);
--lfds-semantic-border-on-info: var(--lfds-primitives-color-blue-47-51);
--lfds-semantic-border-on-error: var(--lfds-primitives-color-yellow-98-54);
--lfds-semantic-border-on-warning: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-border-on-success: var(--lfds-primitives-color-green-28-62);
--lfds-semantic-border-hover: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-highlight-primary: var(--lfds-primitives-color-blue-53-93);
--lfds-semantic-background-highlight-secondary: var(--lfds-primitives-color-red-88-91);
--lfds-semantic-background-highlight-tertiary: var(--lfds-primitives-color-green-100-95);
--lfds-semantic-border-on-highlight-primary: var(--lfds-primitives-color-blue-70-84);
--lfds-semantic-border-on-highlight-secondary: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-border-on-highlight-tertiary: var(--lfds-primitives-color-green-28-62);
--lfds-semantic-border-selected-secondary: var(--lfds-primitives-color-red-69-61);
--lfds-semantic-sizes-radius-sm: var(--lfds-primitives-size-0-5x);
--lfds-semantic-sizes-radius-md: var(--lfds-primitives-size-1x);
--lfds-semantic-sizes-radius-xl: var(--lfds-primitives-size-3x);
--lfds-semantic-sizes-border-width-default: 1px;
--lfds-semantic-sizes-border-width-medium: 2px;
--lfds-semantic-sizes-spacing-x2: var(--lfds-primitives-size-2x);
--lfds-semantic-sizes-spacing-x3: var(--lfds-primitives-size-3x);
--lfds-semantic-sizes-spacing-x1: var(--lfds-primitives-size-1x);
--lfds-semantic-sizes-spacing-x0-5: var(--lfds-primitives-size-0-5x);
--lfds-semantic-sizes-border-width-thick: 3px;
--lfds-semantic-sizes-spacing-x1-5: var(--lfds-primitives-size-1-5x);
--lfds-semantic-sizes-spacing-x0: var(--lfds-primitives-size-0x);
--lfds-semantic-sizes-radius-xxl: var(--lfds-primitives-size-4x);
--lfds-semantic-sizes-radius-none: var(--lfds-primitives-size-0x);
--lfds-semantic-sizes-spacing-x4: var(--lfds-primitives-size-4x);
--lfds-semantic-sizes-spacing-x5: var(--lfds-primitives-size-5x);
--lfds-semantic-sizes-spacing-x6: var(--lfds-primitives-size-6x);
--lfds-semantic-sizes-spacing-x7: var(--lfds-primitives-size-7x);
--lfds-semantic-sizes-spacing-x9: var(--lfds-primitives-size-9x);
--lfds-semantic-sizes-radius-l: var(--lfds-primitives-size-1-5x)
}

[data-theme="light"] {
--lfds-primitives-color-transparent-100-1-75: rgba(0, 45, 81, 0.75);
--lfds-primitives-color-blue-100-31: rgba(0, 90, 160, 1);
--lfds-primitives-color-blue-100-24: rgba(0, 66, 122, 1);
--lfds-primitives-color-red-95-46: rgba(227, 6, 19, 1);
--lfds-primitives-color-red-83-37: rgba(173, 16, 21, 1);
--lfds-primitives-color-neutral-0-13: rgba(34, 34, 34, 1);
--lfds-primitives-color-neutral-0-95: rgba(243, 243, 243, 1);
--lfds-primitives-color-neutral-0-100: rgba(255, 255, 255, 1);
--lfds-primitives-color-blue-70-68: rgba(118, 187, 231, 1);
--lfds-primitives-color-blue-70-84: rgba(186, 218, 243, 1);
--lfds-primitives-color-blue-45-96: rgba(239, 244, 249, 1);
--lfds-primitives-color-red-88-91: rgba(252, 210, 211, 1);
--lfds-primitives-color-neutral-2-43: rgba(107, 112, 112, 1);
--lfds-primitives-color-neutral-2-56: rgba(139, 139, 139, 1);
--lfds-primitives-color-neutral-0-85: rgba(217, 217, 217, 1);
--lfds-primitives-size-3x: 1.5rem;
--lfds-primitives-size-4x: 2rem;
--lfds-primitives-size-5x: 2.5rem;
--lfds-primitives-size-6x: 3rem;
--lfds-primitives-size-7x: 3.5rem;
--lfds-primitives-size-9x: 4.5rem;
--lfds-primitives-size-0-5x: 0.25rem;
--lfds-primitives-size-1x: 0.5rem;
--lfds-primitives-size-1-5x: 0.75rem;
--lfds-primitives-size-2x: 1rem;
--lfds-primitives-size-0x: 0px;
--lfds-primitives-color-transparent-0-100-0-light: rgba(255, 255, 255, 0);
--lfds-primitives-color-blue-53-93: rgba(229, 239, 247, 1);
--lfds-primitives-color-green-100-95: rgba(229, 255, 240, 1);
--lfds-primitives-color-yellow-100-92: rgba(255, 255, 214, 1);
--lfds-primitives-color-green-55-24: rgba(27, 94, 32, 1);
--lfds-primitives-color-blue-67-50: rgba(42, 127, 212, 1);
--lfds-primitives-color-blue-54-47: rgba(56, 159, 185, 1);
--lfds-primitives-color-green-28-62: rgba(141, 186, 132, 1);
--lfds-primitives-color-green-57-47: rgba(184, 190, 52, 1);
--lfds-primitives-color-yellow-98-54: rgba(253, 181, 20, 1);
--lfds-primitives-color-yellow-85-53: rgba(237, 119, 33, 1);
--lfds-primitives-color-red-81-45: rgba(206, 22, 29, 1);
--lfds-primitives-color-blue-100-16: rgba(0, 47, 84, 1);
--lfds-primitives-color-blue-47-51: rgba(70, 138, 189, 1);
--lfds-primitives-color-blue-54-65: rgba(116, 179, 214, 1);
--lfds-primitives-color-red-85-27: rgba(126, 10, 14, 1);
--lfds-primitives-color-red-69-61: rgba(224, 86, 86, 1);
--lfds-primitives-color-red-68-74: rgba(234, 143, 147, 1);
--lfds-primitives-color-color-candidates-100-1: rgba(0, 3, 5, 1);
--lfds-primitives-color-color-candidates-100-8: rgba(0, 22, 41, 1);
--lfds-primitives-color-transparent-100-6-75: rgba(0, 47, 84, 0.75);
--lfds-primitives-color-color-candidates-45-98: rgba(247, 250, 252, 1);
--lfds-primitives-color-green-53-47: rgba(57, 183, 107, 1);
--lfds-primitives-color-color-candidates-100-18: rgba(0, 49, 92, 1);
--lfds-primitives-color-color-candidates-86-16: rgba(122, 99, 0, 1);
--lfds-primitives-color-color-candidates-100-10: rgba(0, 27, 51, 1);
--lfds-primitives-color-transparent-0-100-0-dark: rgba(0, 22, 41, 0);
--lfds-primitives-color-color-candidates-100-23: rgba(173, 140, 0, 1);
--lfds-bold: 700;
--lfds-semibold: 600;
--lfds-lf: LF Rubrik;
--lfds-italic: Italic;
--lfds-regular: 400;
--lfds-medium: 500;
--lfds-ibm: IBM Plex Sans;
--lfds-primitives-typography-weight-bold: 700;
--lfds-primitives-typography-weight-semibold: 600;
--lfds-primitives-typography-font-family-lf: LF Rubrik;
--lfds-primitives-typography-weight-italic: Italic;
--lfds-primitives-typography-weight-regular: 400;
--lfds-primitives-typography-weight-medium: 500;
--lfds-primitives-typography-font-family-ibm: IBM Plex Sans;
--lfds-primitives-typography-font-family-ibm-mono: IBM Plex Mono;
--lfds-primitives-typography-style-regular: 400;
--lfds-primitives-typography-style-italic: Italic;
--lfds-typography-font-family-ibm: IBM Plex Sans;
--lfds-typography-font-family-lf: LF Rubrik;
--lfds-typography-weight-regular: 400;
--lfds-typography-weight-medium: 500;
--lfds-typography-weight-semibold: 600;
--lfds-typography-weight-bold: 700;
--lfds-typography-weight-italic: Italic;
--lfds-semantic-background-web-button-tertiary: var(--lfds-base-brand-primary-liquorice);
--lfds-semantic-background-web-button-tertiary-pressed: var(--lfds-base-brand-primary-liquorice);
--lfds-semantic-background-web-button-tertiary-focus: var(--lfds-base-brand-primary-liquorice);
--lfds-semantic-background-web-button-tertiary-hover: var(--lfds-base-brand-primary-liquorice);
--lfds-base-brand-primary-lf-blue: var(--lfds-primitives-color-blue-100-31);
--lfds-base-brand-primary-navy: var(--lfds-primitives-color-blue-100-24);
--lfds-base-brand-primary-lf-red: var(--lfds-primitives-color-red-95-46);
--lfds-base-brand-primary-wine: var(--lfds-primitives-color-red-83-37);
--lfds-base-brand-primary-liquorice: var(--lfds-primitives-color-neutral-0-13);
--lfds-base-brand-primary-garlic: var(--lfds-primitives-color-neutral-0-95);
--lfds-base-brand-primary-snow: var(--lfds-primitives-color-neutral-0-100);
--lfds-base-brand-secondary-stone: var(--lfds-primitives-color-neutral-2-43);
--lfds-base-brand-secondary-aluminum: var(--lfds-primitives-color-neutral-2-56);
--lfds-base-brand-secondary-smoke: var(--lfds-primitives-color-neutral-0-85);
--lfds-base-brand-secondary-sky: var(--lfds-primitives-color-blue-70-68);
--lfds-base-brand-secondary-baby: var(--lfds-primitives-color-blue-70-84);
--lfds-base-brand-secondary-cloud: var(--lfds-primitives-color-blue-45-96);
--lfds-base-brand-secondary-piggy: var(--lfds-primitives-color-red-88-91);
--lfds-semantic-text-primary: var(--lfds-base-brand-primary-liquorice);
--lfds-semantic-text-brand-primary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-secondary: var(--lfds-base-brand-primary-snow);
--lfds-semantic-background-primary: var(--lfds-base-brand-primary-garlic);
--lfds-semantic-border-secondary: var(--lfds-base-brand-secondary-smoke);
--lfds-semantic-background-web-button-primary: var(--lfds-base-brand-primary-wine);
--lfds-semantic-background-web-button-secondary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-text-secondary: var(--lfds-base-brand-secondary-stone);
--lfds-semantic-icon-primary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-icon-secondary: var(--lfds-base-brand-secondary-aluminum);
--lfds-base-state-error: var(--lfds-base-brand-primary-lf-red);
--lfds-semantic-border-tertiary: var(--lfds-base-brand-secondary-aluminum);
--lfds-semantic-background-disabled: var(--lfds-base-brand-primary-garlic);
--lfds-semantic-border-disabled: var(--lfds-base-brand-secondary-stone);
--lfds-semantic-text-error: var(--lfds-base-state-error);
--lfds-semantic-background-warning: var(--lfds-primitives-color-red-88-91);
--lfds-semantic-background-info: var(--lfds-primitives-color-blue-70-84);
--lfds-semantic-background-success: var(--lfds-primitives-color-green-100-95);
--lfds-semantic-background-error: var(--lfds-primitives-color-yellow-100-92);
--lfds-semantic-risk-risk-default: var(--lfds-primitives-color-neutral-2-43);
--lfds-semantic-risk-risk-01: var(--lfds-primitives-color-blue-67-50);
--lfds-semantic-risk-risk-02: var(--lfds-primitives-color-blue-54-65);
--lfds-semantic-risk-risk-03: var(--lfds-primitives-color-green-28-62);
--lfds-semantic-risk-risk-04: var(--lfds-primitives-color-green-57-47);
--lfds-semantic-risk-risk-06: var(--lfds-primitives-color-yellow-85-53);
--lfds-semantic-risk-risk-05: var(--lfds-primitives-color-yellow-98-54);
--lfds-semantic-risk-risk-07: var(--lfds-primitives-color-red-81-45);
--lfds-semantic-legends-blue-01: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-legends-blue-02: var(--lfds-primitives-color-blue-100-24);
--lfds-semantic-legends-blue-03: var(--lfds-primitives-color-blue-100-31);
--lfds-semantic-legends-blue-04: var(--lfds-primitives-color-blue-47-51);
--lfds-semantic-legends-blue-05: var(--lfds-primitives-color-blue-54-65);
--lfds-semantic-legends-blue-06: var(--lfds-primitives-color-blue-70-84);
--lfds-semantic-legends-red-01: var(--lfds-primitives-color-red-85-27);
--lfds-semantic-legends-red-02: var(--lfds-primitives-color-red-83-37);
--lfds-semantic-legends-red-03: var(--lfds-primitives-color-red-95-46);
--lfds-semantic-legends-red-04: var(--lfds-primitives-color-red-69-61);
--lfds-semantic-legends-red-05: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-legends-red-06: var(--lfds-primitives-color-red-88-91);
--lfds-semantic-text-on-button-secondary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-border-primary: var(--lfds-base-brand-primary-garlic);
--lfds-semantic-border-focus: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-web-button-primary-pressed: var(--lfds-base-brand-primary-wine);
--lfds-semantic-background-web-button-primary-focus: var(--lfds-base-brand-primary-wine);
--lfds-semantic-background-web-button-primary-hover: var(--lfds-base-brand-primary-wine);
--lfds-semantic-background-web-button-secondary-pressed: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-web-button-secondary-focus: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-web-button-secondary-hover: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-transparent-primary: var(--lfds-primitives-color-transparent-0-100-0-light);
--lfds-semantic-icon-error: var(--lfds-base-state-error);
--lfds-semantic-border-error: var(--lfds-base-state-error);
--lfds-semantic-text-on-button-secondary-pressed: var(--lfds-base-brand-primary-navy);
--lfds-semantic-background-button-primary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-button-primary-pressed: var(--lfds-base-brand-primary-navy);
--lfds-semantic-icon-inverted: var(--lfds-base-brand-primary-snow);
--lfds-semantic-text-disabled: var(--lfds-base-brand-secondary-stone);
--lfds-semantic-background-button-tertiary: var(--lfds-base-brand-secondary-cloud);
--lfds-semantic-background-button-tertiary-pressed: var(--lfds-primitives-color-blue-53-93);
--lfds-base-state-success: var(--lfds-primitives-color-green-28-62);
--lfds-semantic-temporary-placeholder: var(--lfds-base-brand-secondary-smoke);
--lfds-semantic-border-on-button-secondary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-border-on-button-secondary-pressed: var(--lfds-base-brand-primary-navy);
--lfds-semantic-background-secondary-pressed: var(--lfds-base-brand-secondary-cloud);
--lfds-semantic-text-link: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-text-link-pressed: var(--lfds-base-brand-primary-navy);
--lfds-semantic-background-button-secondary: var(--lfds-primitives-color-transparent-0-100-0-light);
--lfds-semantic-background-button-secondary-pressed: var(--lfds-primitives-color-blue-45-96);
--lfds-semantic-text-on-button-tertiary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-text-on-button-tertiary-pressed: var(--lfds-base-brand-primary-navy);
--lfds-semantic-text-on-button-primary: var(--lfds-semantic-text-inverted);
--lfds-semantic-text-selected: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-border-web-on-button-tertiary: var(--lfds-base-brand-primary-navy);
--lfds-semantic-border-web-on-button-tertiary-pressed: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-border-web-on-button-secondary: var(--lfds-base-brand-primary-navy);
--lfds-semantic-border-web-on-button-secondary-pressed: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-text-web-on-button-secondary-pressed: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-text-web-on-button-tertiary: var(--lfds-base-brand-primary-navy);
--lfds-semantic-text-web-on-button-tertiary-pressed: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-text-web-on-button-secondary: var(--lfds-base-brand-primary-navy);
--lfds-semantic-background-selected: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-hover: var(--lfds-base-brand-secondary-cloud);
--lfds-semantic-border-selected: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-icon-primary-pressed: var(--lfds-base-brand-primary-navy);
--lfds-semantic-icon-selected: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-transparent-secondary: var(--lfds-primitives-color-transparent-100-6-75);
--lfds-semantic-background-notification-primary: var(--lfds-base-brand-primary-lf-red);
--lfds-semantic-background-notification-secondary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-text-inverted: var(--lfds-base-brand-primary-snow);
--lfds-semantic-background-notification-tertiary: var(--lfds-base-brand-secondary-stone);
--lfds-semantic-border-web-on-button-secondary-hover: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-border-web-on-button-tertiary-hover: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-text-web-on-button-secondary-hover: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-text-web-on-button-tertiary-hover: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-background-tertiary: var(--lfds-base-brand-secondary-smoke);
--lfds-semantic-icon-on-button-primary: var(--lfds-semantic-icon-inverted);
--lfds-semantic-icon-on-info: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-icon-on-button-secondary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-icon-on-error: var(--lfds-primitives-color-neutral-0-13);
--lfds-semantic-icon-on-warning: var(--lfds-base-brand-primary-wine);
--lfds-semantic-icon-on-success: var(--lfds-primitives-color-green-55-24);
--lfds-semantic-icon-web-on-button-primary: var(--lfds-semantic-icon-inverted);
--lfds-semantic-icon-web-on-button-secondary: var(--lfds-base-brand-primary-navy);
--lfds-semantic-icon-tertiary: var(--lfds-base-brand-primary-lf-red);
--lfds-semantic-illustration-primary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-illustration-secondary: var(--lfds-base-brand-primary-lf-red);
--lfds-semantic-background-skeleton-primary: var(--lfds-base-brand-secondary-cloud);
--lfds-semantic-background-skeleton-secondary: var(--lfds-primitives-color-color-candidates-45-98);
--lfds-semantic-animation-primary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-animation-secondary: var(--lfds-base-brand-primary-lf-red);
--lfds-semantic-background-button-quaternary: var(--lfds-base-brand-primary-wine);
--lfds-semantic-background-button-quaternary-pressed: var(--lfds-primitives-color-red-85-27);
--lfds-semantic-text-on-button-quaternary: var(--lfds-semantic-text-inverted);
--lfds-semantic-icon-disabled: var(--lfds-base-brand-secondary-smoke);
--lfds-semantic-text-brand-secondary: var(--lfds-base-brand-primary-lf-red);
--lfds-semantic-legends-neutral-01: var(--lfds-primitives-color-neutral-2-43);
--lfds-semantic-legends-neutral-02: var(--lfds-primitives-color-neutral-2-56);
--lfds-semantic-legends-neutral-03: var(--lfds-primitives-color-neutral-0-85);
--lfds-semantic-legends-green-01: var(--lfds-primitives-color-green-53-47);
--lfds-semantic-background-active: var(--lfds-base-brand-secondary-cloud);
--lfds-semantic-border-brand-primary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-border-brand-secondary: var(--lfds-base-brand-primary-lf-red);
--lfds-semantic-icon-on-button-tertiary: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-text-on-img: var(--lfds-base-brand-primary-snow);
--lfds-semantic-text-on-risk: var(--lfds-base-brand-primary-snow);
--lfds-semantic-border-on-info: var(--lfds-primitives-color-blue-47-51);
--lfds-semantic-border-on-error: var(--lfds-primitives-color-yellow-98-54);
--lfds-semantic-border-on-warning: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-border-on-success: var(--lfds-primitives-color-green-28-62);
--lfds-semantic-border-hover: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-highlight-primary: var(--lfds-primitives-color-blue-53-93);
--lfds-semantic-background-highlight-secondary: var(--lfds-primitives-color-red-88-91);
--lfds-semantic-background-highlight-tertiary: var(--lfds-primitives-color-green-100-95);
--lfds-semantic-border-on-highlight-primary: var(--lfds-primitives-color-blue-70-84);
--lfds-semantic-border-on-highlight-secondary: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-border-on-highlight-tertiary: var(--lfds-primitives-color-green-28-62);
--lfds-semantic-border-selected-secondary: var(--lfds-primitives-color-red-69-61);
--lfds-semantic-sizes-radius-sm: var(--lfds-primitives-size-0-5x);
--lfds-semantic-sizes-radius-md: var(--lfds-primitives-size-1x);
--lfds-semantic-sizes-radius-xl: var(--lfds-primitives-size-3x);
--lfds-semantic-sizes-border-width-default: 1px;
--lfds-semantic-sizes-border-width-medium: 2px;
--lfds-semantic-sizes-spacing-x2: var(--lfds-primitives-size-2x);
--lfds-semantic-sizes-spacing-x3: var(--lfds-primitives-size-3x);
--lfds-semantic-sizes-spacing-x1: var(--lfds-primitives-size-1x);
--lfds-semantic-sizes-spacing-x0-5: var(--lfds-primitives-size-0-5x);
--lfds-semantic-sizes-border-width-thick: 3px;
--lfds-semantic-sizes-spacing-x1-5: var(--lfds-primitives-size-1-5x);
--lfds-semantic-sizes-spacing-x0: var(--lfds-primitives-size-0x);
--lfds-semantic-sizes-radius-xxl: var(--lfds-primitives-size-4x);
--lfds-semantic-sizes-radius-none: var(--lfds-primitives-size-0x);
--lfds-semantic-sizes-spacing-x4: var(--lfds-primitives-size-4x);
--lfds-semantic-sizes-spacing-x5: var(--lfds-primitives-size-5x);
--lfds-semantic-sizes-spacing-x6: var(--lfds-primitives-size-6x);
--lfds-semantic-sizes-spacing-x7: var(--lfds-primitives-size-7x);
--lfds-semantic-sizes-spacing-x9: var(--lfds-primitives-size-9x);
--lfds-semantic-sizes-radius-l: var(--lfds-primitives-size-1-5x)
}

[data-theme="dark"] {
--lfds-semantic-background-web-button-tertiary: var(--lfds-base-brand-primary-liquorice);
--lfds-semantic-background-web-button-tertiary-pressed: var(--lfds-base-brand-primary-liquorice);
--lfds-semantic-background-web-button-tertiary-focus: var(--lfds-base-brand-primary-liquorice);
--lfds-semantic-background-web-button-tertiary-hover: var(--lfds-base-brand-primary-liquorice);
--lfds-base-brand-primary-lf-blue: var(--lfds-primitives-color-blue-100-31);
--lfds-base-brand-primary-navy: var(--lfds-primitives-color-blue-100-24);
--lfds-base-brand-primary-lf-red: var(--lfds-primitives-color-red-95-46);
--lfds-base-brand-primary-wine: var(--lfds-primitives-color-red-83-37);
--lfds-base-brand-primary-liquorice: var(--lfds-primitives-color-neutral-0-13);
--lfds-base-brand-primary-garlic: var(--lfds-primitives-color-neutral-0-95);
--lfds-base-brand-primary-snow: var(--lfds-primitives-color-neutral-0-100);
--lfds-base-brand-secondary-stone: var(--lfds-primitives-color-neutral-2-43);
--lfds-base-brand-secondary-aluminum: var(--lfds-primitives-color-neutral-2-56);
--lfds-base-brand-secondary-smoke: var(--lfds-primitives-color-neutral-0-85);
--lfds-base-brand-secondary-sky: var(--lfds-primitives-color-blue-70-68);
--lfds-base-brand-secondary-baby: var(--lfds-primitives-color-blue-70-84);
--lfds-base-brand-secondary-cloud: var(--lfds-primitives-color-blue-45-96);
--lfds-base-brand-secondary-piggy: var(--lfds-primitives-color-red-88-91);
--lfds-semantic-text-primary: var(--lfds-base-brand-primary-garlic);
--lfds-semantic-text-brand-primary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-background-secondary: var(--lfds-primitives-color-color-candidates-100-8);
--lfds-semantic-background-primary: var(--lfds-primitives-color-color-candidates-100-1);
--lfds-semantic-border-secondary: var(--lfds-primitives-color-color-candidates-100-18);
--lfds-semantic-background-web-button-primary: var(--lfds-base-brand-secondary-piggy);
--lfds-semantic-background-web-button-secondary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-text-secondary: var(--lfds-base-brand-secondary-smoke);
--lfds-semantic-icon-primary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-icon-secondary: var(--lfds-base-brand-primary-garlic);
--lfds-base-state-error: var(--lfds-base-brand-secondary-piggy);
--lfds-semantic-border-tertiary: var(--lfds-primitives-color-blue-100-31);
--lfds-semantic-background-disabled: var(--lfds-primitives-color-color-candidates-100-1);
--lfds-semantic-border-disabled: var(--lfds-primitives-color-color-candidates-100-18);
--lfds-semantic-text-error: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-background-warning: var(--lfds-primitives-color-red-85-27);
--lfds-semantic-background-info: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-background-success: var(--lfds-primitives-color-green-55-24);
--lfds-semantic-background-error: var(--lfds-primitives-color-color-candidates-86-16);
--lfds-semantic-risk-risk-default: var(--lfds-primitives-color-neutral-2-43);
--lfds-semantic-risk-risk-01: var(--lfds-primitives-color-blue-67-50);
--lfds-semantic-risk-risk-02: var(--lfds-primitives-color-blue-54-65);
--lfds-semantic-risk-risk-03: var(--lfds-primitives-color-green-28-62);
--lfds-semantic-risk-risk-04: var(--lfds-primitives-color-green-57-47);
--lfds-semantic-risk-risk-06: var(--lfds-primitives-color-yellow-85-53);
--lfds-semantic-risk-risk-05: var(--lfds-primitives-color-yellow-98-54);
--lfds-semantic-risk-risk-07: var(--lfds-primitives-color-red-81-45);
--lfds-semantic-legends-blue-01: var(--lfds-primitives-color-blue-53-93);
--lfds-semantic-legends-blue-02: var(--lfds-primitives-color-blue-70-84);
--lfds-semantic-legends-blue-03: var(--lfds-primitives-color-blue-54-65);
--lfds-semantic-legends-blue-04: var(--lfds-primitives-color-blue-47-51);
--lfds-semantic-legends-blue-05: var(--lfds-primitives-color-blue-100-31);
--lfds-semantic-legends-blue-06: var(--lfds-primitives-color-blue-100-24);
--lfds-semantic-legends-red-01: var(--lfds-primitives-color-red-88-91);
--lfds-semantic-legends-red-02: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-legends-red-03: var(--lfds-primitives-color-red-69-61);
--lfds-semantic-legends-red-04: var(--lfds-primitives-color-red-95-46);
--lfds-semantic-legends-red-05: var(--lfds-primitives-color-red-83-37);
--lfds-semantic-legends-red-06: var(--lfds-primitives-color-red-85-27);
--lfds-semantic-text-on-button-secondary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-border-primary: var(--lfds-primitives-color-color-candidates-100-1);
--lfds-semantic-border-focus: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-background-web-button-primary-pressed: var(--lfds-base-brand-secondary-piggy);
--lfds-semantic-background-web-button-primary-focus: var(--lfds-base-brand-secondary-piggy);
--lfds-semantic-background-web-button-primary-hover: var(--lfds-base-brand-secondary-piggy);
--lfds-semantic-background-web-button-secondary-pressed: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-background-web-button-secondary-focus: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-background-web-button-secondary-hover: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-background-transparent-primary: var(--lfds-primitives-color-transparent-0-100-0-dark);
--lfds-semantic-icon-error: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-border-error: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-text-on-button-secondary-pressed: var(--lfds-base-brand-secondary-sky);
--lfds-semantic-background-button-primary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-background-button-primary-pressed: var(--lfds-primitives-color-blue-70-68);
--lfds-semantic-icon-inverted: var(--lfds-primitives-color-color-candidates-100-8);
--lfds-semantic-text-disabled: var(--lfds-base-brand-secondary-smoke);
--lfds-semantic-background-button-tertiary: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-background-button-tertiary-pressed: var(--lfds-primitives-color-color-candidates-100-10);
--lfds-base-state-success: var(--lfds-primitives-color-green-55-24);
--lfds-semantic-temporary-placeholder: var(--lfds-base-brand-secondary-sky);
--lfds-semantic-border-on-button-secondary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-border-on-button-secondary-pressed: var(--lfds-base-brand-secondary-sky);
--lfds-semantic-background-secondary-pressed: var(--lfds-primitives-color-color-candidates-100-1);
--lfds-semantic-text-link: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-text-link-pressed: var(--lfds-base-brand-secondary-sky);
--lfds-semantic-background-button-secondary: var(--lfds-semantic-background-transparent-primary);
--lfds-semantic-background-button-secondary-pressed: var(--lfds-primitives-color-color-candidates-100-1);
--lfds-semantic-text-on-button-tertiary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-text-on-button-tertiary-pressed: var(--lfds-base-brand-secondary-sky);
--lfds-semantic-text-on-button-primary: var(--lfds-semantic-text-inverted);
--lfds-semantic-text-selected: var(--lfds-base-brand-secondary-sky);
--lfds-semantic-border-web-on-button-tertiary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-border-web-on-button-tertiary-pressed: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-border-web-on-button-secondary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-border-web-on-button-secondary-pressed: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-text-web-on-button-secondary-pressed: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-text-web-on-button-tertiary: var(--lfds-base-brand-secondary-sky);
--lfds-semantic-text-web-on-button-tertiary-pressed: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-text-web-on-button-secondary: var(--lfds-base-brand-secondary-sky);
--lfds-semantic-background-selected: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-background-hover: var(--lfds-primitives-color-color-candidates-100-10);
--lfds-semantic-border-selected: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-icon-primary-pressed: var(--lfds-base-brand-secondary-sky);
--lfds-semantic-icon-selected: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-background-transparent-secondary: var(--lfds-primitives-color-transparent-100-6-75);
--lfds-semantic-background-notification-primary: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-background-notification-secondary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-text-inverted: var(--lfds-primitives-color-color-candidates-100-8);
--lfds-semantic-background-notification-tertiary: var(--lfds-base-brand-secondary-smoke);
--lfds-semantic-border-web-on-button-secondary-hover: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-border-web-on-button-tertiary-hover: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-text-web-on-button-secondary-hover: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-text-web-on-button-tertiary-hover: var(--lfds-base-brand-primary-lf-blue);
--lfds-semantic-background-tertiary: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-icon-on-button-primary: var(--lfds-semantic-icon-inverted);
--lfds-semantic-icon-on-info: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-icon-on-button-secondary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-icon-on-error: var(--lfds-primitives-color-neutral-0-95);
--lfds-semantic-icon-on-warning: var(--lfds-primitives-color-red-88-91);
--lfds-semantic-icon-on-success: var(--lfds-primitives-color-green-100-95);
--lfds-semantic-icon-web-on-button-primary: var(--lfds-semantic-icon-inverted);
--lfds-semantic-icon-web-on-button-secondary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-icon-tertiary: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-illustration-primary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-illustration-secondary: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-background-skeleton-primary: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-background-skeleton-secondary: var(--lfds-primitives-color-blue-100-24);
--lfds-semantic-animation-primary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-animation-secondary: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-background-button-quaternary: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-background-button-quaternary-pressed: var(--lfds-primitives-color-red-69-61);
--lfds-semantic-text-on-button-quaternary: var(--lfds-semantic-text-inverted);
--lfds-semantic-icon-disabled: var(--lfds-base-brand-secondary-stone);
--lfds-semantic-text-brand-secondary: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-legends-neutral-01: var(--lfds-primitives-color-neutral-0-85);
--lfds-semantic-legends-neutral-02: var(--lfds-primitives-color-neutral-2-56);
--lfds-semantic-legends-neutral-03: var(--lfds-primitives-color-neutral-2-43);
--lfds-semantic-legends-green-01: var(--lfds-primitives-color-green-28-62);
--lfds-semantic-background-active: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-border-brand-primary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-border-brand-secondary: var(--lfds-primitives-color-red-68-74);
--lfds-semantic-icon-on-button-tertiary: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-text-on-img: var(--lfds-base-brand-primary-garlic);
--lfds-semantic-text-on-risk: var(--lfds-primitives-color-color-candidates-100-8);
--lfds-semantic-border-on-info: var(--lfds-base-brand-primary-navy);
--lfds-semantic-border-on-error: var(--lfds-primitives-color-color-candidates-100-23);
--lfds-semantic-border-on-warning: var(--lfds-primitives-color-red-83-37);
--lfds-semantic-border-on-success: var(--lfds-primitives-color-green-53-47);
--lfds-semantic-border-hover: var(--lfds-base-brand-secondary-baby);
--lfds-semantic-background-highlight-primary: var(--lfds-primitives-color-blue-100-16);
--lfds-semantic-background-highlight-secondary: var(--lfds-primitives-color-red-85-27);
--lfds-semantic-background-highlight-tertiary: var(--lfds-primitives-color-green-55-24);
--lfds-semantic-border-on-highlight-primary: var(--lfds-base-brand-primary-navy);
--lfds-semantic-border-on-highlight-secondary: var(--lfds-primitives-color-red-83-37);
--lfds-semantic-border-on-highlight-tertiary: var(--lfds-primitives-color-green-53-47);
--lfds-semantic-border-selected-secondary: var(--lfds-primitives-color-red-68-74)
}

:root {
--lfds-typography-font-family-base: 'IBM Plex Sans', system-ui, sans-serif;
--lfds-typography-font-family-mono: 'IBM Plex Mono', system-ui, sans-serif;
--lfds-typography-font-family-heading: 'LF Rubrik', Georgia, serif
}