/* src/components/ProductDetails.scss */
.product-details {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #141414;
  }

  img {
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 1px solid black; /* Set black border */
  }

  .description {
    font-size: 16px;
    line-height: 1.5;
    color: #141414;
  }

  .price {
    font-size: 20px;
    font-weight: bold;
    color: #141414;
  }
}
